# Auto detect text files and perform LF normalization
* text=auto
video filter=lfs diff=lfs merge=lfs -text
editado.mp4 filter=lfs diff=lfs merge=lfs -text
video-editado.mp4 filter=lfs diff=lfs merge=lfs -text
